* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.App {
  width: 300px;
  display: flex;
  flex-direction: row;
}

img {
  height: 280px;
  border-radius: 15px;
}

.First {
  margin: 25px;
}

.Second,
.Third,
.Fourth {
  margin: 25px 25px 25px 0;
}
